@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  h1 {
    @apply font-calsans text-3xl
  }

  h2 {
    @apply font-calsans text-2xl
  }

  h3 {
    @apply font-bold text-xl
  }

  .panel {
    @apply bg-neutral-950 rounded-xl p-6 border-[1px] border-neutral-800
  }

  a{
    @apply text-blue-500
  }
}